# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}
{%- import_yaml tplroot ~ "/osfamilymap.yaml" as osfamilymap %}

{%- set _config = salt['config.get'](tplroot, default={}) %}
{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
      merge=salt['grains.filter_by']( osfamilymap, grain='os_family',
        merge=salt['grains.filter_by']( _config, default='lookup'
        )
      )
    )
%}
{%- set g = salt['grains.filter_by']( {'defaults': defaults}, default='defaults', merge=_config) %}

{%- set edition = '' if 'edition' not in g else g.edition %}
{%- set pcode = g.product ~ edition %}
{%- set jdata = salt['cmd.run']('curl -s -L "{0}{1}"'.format(g.pkg.uri, pcode))|load_yaml %}
{%- do g.update({ 'version': jdata[ pcode ][0]['version'] }) %}

{%- set dirname = 'goland-%s-%s'|format( edition, g.version) %}
{%- set url = jdata[ pcode ][0]['downloads'][ g.flavour ]['link'] %}
{%- set hash  = salt['cmd.run']('curl -L -s "{0}"'.format( jdata[ pcode ][0]['downloads'][ g.flavour ]['checksumLink'])).split(' ')[0] %}  # noqa 204

{%- if g.pkg.use_upstream_archive %}
    {%- do g.dir.update({'path': g.dir.archive ~ '/' ~ dirname}) %}
    {%- do g.pkg.archive.update({'name': g.dir.archive ~ '/' ~ dirname, 'source': url, 'source_hash': hash }) %}
{%- endif %}
{%- if g.pkg.use_upstream_macapp %}
    {%- do g.dir.update({'path': '/Applications'}) %}
    {%- do g.pkg.macapp.update({ 'source': url, 'source_hash': hash }) %}
{%- endif %}

{%- set goland = g %}
